@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

* {
	font-family: "Inter", sans-serif !important;
}
/* 
canvas {
  position: absolute;
  top: 0;
  left: 0;
} */

/* change text selection color  */

*::selection {
	background: #38b2ac;
}
*::-moz-selection {
	background: #38b2ac;
}
*::-webkit-selection {
	background: #38b2ac;
}

/* ---- reset ---- */
body {
	margin: 0;
	font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
	display: block;
	/* vertical-align: bottom; */
	background-size: 100% auto;
}
/* ---- tsparticles container ---- */
#tsparticles {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #323031;
	background-image: url("");
	background-repeat: no-repeat;
	background-size: cover;
}

.icon-scroll,
.icon-scroll:before {
	position: absolute;
	left: 50%;
	bottom: 3%;
}

.icon-scroll {
	width: 35px;
	height: 60px;
	margin-left: -20px;
	margin-top: -35px;
	box-shadow: inset 0 0 0 2px #fff;
	border-radius: 25px;
}

.icon-scroll:before {
	content: "";
	width: 9px;
	height: 9px;
	background: #fff;
	margin-left: -4px;
	top: 8px;
	border-radius: 4px;
	animation-duration: 2.5s;
	animation-iteration-count: infinite;
	animation-name: scroll;
}

@keyframes scroll {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(40px);
	}
}
